{% extends "base.html" %}

{% block title %}
    <title>BCD</title>
{% endblock title %}


{% block content %}
<p class="lead">BCD</p>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">BCD</div>
            <div class="panel-body">
                <form method="POST" id='bcd_form' role='form'>
                    {{ form.hidden_tag() }}
                    {{ render_field(form.entities) }}
                    {{ render_field(form.copula_type) }}
                    {{ render_field(form.seniority) }}
                    {{ render_field(form.basis) }}
                    {{ render_field(form.frequency) }}
                    {{ render_field(form.premium_accrued) }}
                    {{ render_field(form.effective_date) }}
                    {{ render_field(form.maturity_date) }}
                    {{ render_field(form.recovery_rate) }}
                    {{ render_field(form.no_of_simulations) }}
                    <div><a class="btn btn-primary" href='#' id='calculate'>Calculate BCD</a></div>
                    <div>
                        <label>BCD Price:</label>
                        <div id='price' class='well'></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Survival Probabilities</div>
            <div class="panel-body">
                    <div id='graph-1' class='result-graph'></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading text-center">Convergence</div>
            <div class="panel-body">
                    <div id='graph-2' class='result-graph'></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script type=text/javascript>

// $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(document).ready(function () {
      $(function() {
        $('a#calculate').bind('click', function() {
            var status = $('#bcd_form').parsley('validate');
            if (status) {
                $.ajax({
                    type:'POST',
                    url: '{{ url_for("api.bcd") }}', // url
                    data: $("#bcd_form").serialize(), // form data
                    //dataType:'json',
                    //async: false,

                    success:function(payload){
                        console.log(payload);
                        $('#price').html(payload.price);
                        $.plot($("#graph-1"), payload.pca, {
                            xaxis:
                            {
                                min:0, max:11,
                            },
                            yaxis:
                            {
                                min:0.0, max:1.2, //tickSize: 0.1,
                            }
                        });
                        $.plot($("#graph-2"), [payload.sims]);
                    },
                    beforeSend: function(){
                        console.log('beforesend')
                        $('.result-graph').html("<div> <img src={{ url_for('static', filename='images/ajax-loader.gif')}}/> </div>")
                    },
                    complete: function(){
                        // Code to hide spinner.
                    }
                });
            };
        });
      });
});
</script>
{% endblock scripts %}